<div class="jumbotron text-center">
	<h1>Recreational Activities</h1>
	<p>Everything you need to relax and enjoy your free time!</p>
</div>	

<!-- not full width container. Otherwise : container-fluid-->
<div class="container">
	<div class="alert alert-info alert-dismissable fade in">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Info!</strong>Event <a href="https://www.google.ch" class="alert-link">tonight!</a>
	</div>	

</div>
